 section{
    *border:solid  red;
}
header{
    *border:solid  green;
    background: url(../img/header.jpg) no-repeat center / cover;
}
a.size img{
    height: 100px;
}
.acceuil{
    padding: 30px 0 50px 0;
}