 section{
    *border:solid  red;
}
header{
    *border:solid  green;
    background: url(../img/header.jpg) no-repeat center / cover;
}
a.size img{
    height: 100px;
}
.acceuil{
    padding: 50px 0 70px 0;
}

@media (max-width: 1150px) { 
    #none{
        display: none;
    }
    #none1{
        display: none;
    }
}