 
header{
    background:linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)),url(../img/header.jpg) no-repeat center / cover;
    color: white;
}
section{
    padding-top: 20px;
}
footer{
    background: black;
    color: white;
    padding: 3%;
}
a{
    color: white;
}
.text-white{
    color: white;
}
a.size img{
    height: 100px;
}
.acceuil{
    padding: 50px 0 70px 0;
}
.aeration .row{
    margin: 20px 0;
}
.img-fluid{
    
}
button{
    color: white;
}
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
    }

@media (max-width: 1150px) { 
    #none{
        display: none;
    }
    #none1{
        display: none;
    }
}